@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;700&family=Lato:wght@300;400&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Lato:wght@300;400&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Oswald&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(167,169,223);
    background: linear-gradient(90deg, rgba(167,169,223,1) 0%, rgba(103,157,255,1) 35%, rgba(0,0,156,1) 100%);
}
body a{
    text-decoration: none;
    color: black;
}
html, body{
    margin: 0px;
    height: 100%;
    width: 100%;
}
.main-container{
    height: 700px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    width: 400px;
}
.title-container{
    color: rgb(39, 39, 39);
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
    font-family: 'Heebo', sans-serif;
}
form{
    margin-left: 10px;
}
.input-container{
    display: flex;
    align-items: baseline;
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    border-bottom: rgb(121, 121, 121) 1px solid;
}
.input-container input{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    height: 30px;
    border: 0px solid;
    padding: 0px;
    width: 360px;
}
.input-container img{
    display: flex;
    align-items: center;
    height: 20px;
    margin-right: 10px;
}
.input-container input:focus, .input-container textarea:focus{
    outline: none;
}
.input-container input::placeholder{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
}
.input-title{
    font-family: 'Lato', sans-serif;
    margin-bottom: 7px;
    color: rgb(44, 44, 44);
}
.forget-password-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.forget-password-container a{
    color: rgb(44, 44, 44);
    font-family: 'Lato', sans-serif;
}
button{
    background-color: inherit;
    width: 100%;
    height: 50px;
    border: 0px solid;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin-top: 15px;
    background: rgb(167,169,223);
    background: linear-gradient(90deg, rgba(167,169,223,1) 0%, rgba(103,157,255,1) 35%, rgba(0,0,156,1) 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position .5s;
}
button:hover{
    background-position: 0 0;
}
.sign-up-container{
    display: flex;
    justify-content: center;
}
.sign-up-container a{
    color: rgb(44, 44, 44);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.errors{
    color: red;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
}