{{define "head"}}
<title>Users</title>
<link rel="stylesheet" href="/static/css/admin/single-item.css">
{{end}}
{{ define "content"}}
    <div class="main-table-container">
        <form action="/Admin/user?id={{.ID}}" method="POST">
            <div class="main-title">
                Change User Instance
            </div>
            <div class="attribute-container">
                <div class="attribute-name">
                    Username:
                </div>
                <div class="attribute-value">   
                    <input type="text" readonly value="{{.Username}}">
                </div>
            </div>

            <div class="attribute-container">
                <div class="attribute-name">
                    Email:
                </div>
                <div class="attribute-value">
                    <input type="text" readonly value="{{.Email}}">
                </div>
            </div>

            <div class="attribute-container">
                {{if .Is_admin}}
                <input type="checkbox" id="admin" name="admin" checked>
                {{else}}
                <input type="checkbox" id="admin" name="admin">
                {{end}}
                <label for="admin" class="attribute-name">Is Admin</label>
            </div>

            <div class="attribute-container">
                {{if .Is_staff}}
                <input type="checkbox" id="staff" name="staff" checked>
                {{else}}
                <input type="checkbox" id="staff" name="staff">
                {{end}}
                <label for="staff" class="attribute-name">Is Staff</label>
            </div>
            <button type="submit" class="save-button">Save</button>
        </form>
        <form action="/Admin/delete-user?id={{.ID}}" method="POST">
            <button type="submit" class="delete-button">Delete</button>
        </form>
    </div>
{{end}}