{{define "head"}}
<title>Users</title>
<link rel="stylesheet" href="/static/css/admin/single-item.css">
{{end}}
{{ define "content"}}
    <div class="main-table-container">
        <form action="/Admin/add-user" method="POST">
            <div class="main-title">
                Create User Instance
            </div>
            <div class="attribute-container">
                <div class="attribute-name">
                    Username:
                </div>
                <div class="attribute-value">   
                    <input type="text" name="username" value="">
                </div>
            </div>

            <div class="attribute-container">
                <div class="attribute-name">
                    Email:
                </div>
                <div class="attribute-value">
                    <input type="text" name="email" value="">
                </div>
            </div>

            <div class="attribute-container">
                <div class="attribute-name">
                    Password:
                </div>
                <div class="attribute-value">
                    <input type="password" name="password" value="">
                </div>
            </div>

            <div class="attribute-container">
                <input type="checkbox" id="admin" name="admin">
                <label for="admin" class="attribute-name">Is Admin</label>
            </div>

            <div class="attribute-container">
                <input type="checkbox" id="staff" name="staff">
                <label for="staff" class="attribute-name">Is Staff</label>
            </div>
            <button type="submit" class="save-button">ADD</button>
        </form>
    </div>
{{end}}