{{define "head"}}
<title>Products</title>
<link rel="stylesheet" href="/static/css/admin/table.css">
{{end}}
{{ define "content"}}
<form action="/Admin/products">
    <div class="main-table-container">
        <div class="main-table-title">Select product to change</div>
        <a href="/Admin/add-product" class="table-add-container">
            <div>ADD PRODUCT</div>
            <div class="svg-wrapper">
                <img src="/static/image/plus-svgrepo-com-white.svg" alt="svg">
            </div>
        </a>
    </div>
    <div class="table-main-content-container">
        <div class="table-content-container">
            <div class="table-left-container">
                <div>
                    <input class="search-input" type="search" value="{{ .Search }}" name="search">
                    <button class="search-button">Search</button>
                </div>
                <div>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Description</th> 
                            <th>Price</th>
                            <th></th>
                        </tr>
                            {{ range .Products}}
                            <tr>
                                <td class="td-username">
                                    <a href="/Admin/product?id={{.ID}}">
                                        <div>
                                            {{.Name}}
                                        </div>
                                    </a>
                                </td>
                                <td class="td-email">{{ .Category }}</td>
                                <td class="td-email">{{ .Description }}</td>
                                <td class="td-email">{{ .Price }}</td>
                                <td class="td-email td-add-item">
                                    <a href="/Admin/add-item?id={{.ID}}" class="table-add-container add-item">
                                        <div>ADD ITEM</div>
                                        <div class="svg-wrapper">
                                            <img src="/static/image/plus-svgrepo-com-white.svg" alt="svg">
                                        </div>
                                    </a>
                                </td>

                            </tr>
                            {{ end }}
                        </a>
                    </table>
                </div>
            </div>
            <div class="table-right-container">
                <div class="filter-title filter-main-container-title">
                    Filter
                </div>
                <div class="filter-main-container">
                    <div class="filter-title-container">
                        Max Price
                    </div>
                    <div class="filter-input-label">
                        <input type="number" value="{{ .MaxPrice }}" name="max-price" id="">
                    </div>
                    <div class="hr"></div>
                </div>
                <div class="filter-main-container">
                    <div class="filter-title-container">
                        Min Price
                    </div>
                    <div class="filter-input-label">
                        <input type="number" value="{{ .MinPrice}}" name="min-price">
                    </div>
                    <div class="hr"></div>
                </div>
                <div class="filter-main-container">
                    <div class="filter-title-container">
                        By Categories
                    </div>
                    <div>
                        {{ range .Categories }}
                        <div class="filter-input-label">
                            {{ if .IsSelected}}
                            <input type="checkbox" id="{{ .Category.ID }}" name="category{{  .Category.ID }}" value="{{ .Category.ID }}" checked>
                            {{ else }}
                            <input type="checkbox" id="{{ .Category.ID }}" name="category{{  .Category.ID }}" value="{{ .Category.ID }}" >
                            {{ end }}
                            <label for="{{ .Category.ID }}">{{.Category.Name}}</label><br>       
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{{end}}