
{{define "head"}}
    <title>Adminstration</title>
    <link rel="stylesheet" href="/static/css/admin/index.css">
{{end}}

{{define "content"}}
    <div class="title main-title vertical">
        Site adminstration
    </div>
    <div class="vertical">
        <div class="errors">
            {{ range . }}
            <div class="error">
                {{.}}
            </div>
            {{ end}}
        </div>
    </div>
    <div class="main-group vertical">
        <div class="subtitle vertical">
            Authentication and Authorization
        </div>
        <div class="table vertical">
            <div class="table-left">
                <a class="table-name" href="/Admin/users">
                    Users
                </a>
            </div>
            <div class="table-right">
                <a href="/Admin/add-user">
                    <img src="/static/image/plus-svgrepo-com.svg" alt="" height="30px">
                    Add
                </a>
            </div>
        </div>
    </div>
    <div class="main-group vertical">
        <div class="subtitle vertical">
            Catalog
        </div>
        <div class="table vertical">
            <div class="table-left">
                <a href="/Admin/products" class="table-name">
                    products
                </a>
            </div>
            <div class="table-right">
                <a href="/Admin/add-product">
                    <img src="/static/image/plus-svgrepo-com.svg" alt="" height="30px">
                    Add
                </a>
            </div>
        </div>

        <div class="table vertical">
            <div class="table-left">
                <a class="table-name" href="/Admin/items">
                    Items
                </a>
            </div>
            <div class="table-right">
            </div>
        </div>

       <div class="table vertical">
            <div class="table-left">
                <a class="table-name">
                    Userdata
                </a>
            </div>
            <div class="table-right">
                <a href="/Admin/userdata">
                    <img src="/static/image/plus-svgrepo-com.svg" alt="" height="30px">
                    Add
                </a>
            </div>
        </div>


        <div class="table vertical">
            <div class="table-left">
                <a href="/Admin/categories" class="table-name">
                    Categories
                </a>
            </div>
            <div class="table-right">
                <a href="/Admin/add-category">
                    <img src="/static/image/plus-svgrepo-com.svg" alt="" height="30px">
                    Add
                </a>
            </div>
        </div>

        <div class="table vertical">
            <div class="table-left">
                <a href="/Admin/purchases" class="table-name">
                    Purchases
                </a>
            </div>
            <div class="table-right">
                
            </div>
        </div>
    </div>
{{end}}



