
{{define "head"}}
    <title>Adminstration</title>
    <link rel="stylesheet" href="/static/css/admin/index.css">
{{end}}

{{define "content"}}
    <div class="title main-title vertical">
        Site adminstration
    </div>
    <div class="main-group vertical">
        <div class="subtitle vertical">
            Authentication and Authorization
        </div>
        <div class="table vertical">
            <div class="table-left">
                <a class="table-name" href="">
                    Users
                </a>
            </div>
            <div class="table-right">
                <a href="">
                    <img src="/static/image/plus-svgrepo-com.svg" alt="" height="30px">
                    Add
                </a>
            </div>
        </div>
    </div>
    <div class="main-group vertical">
        <div class="subtitle vertical">
            Catalog
        </div>
        <div class="table vertical">
            <div class="table-left">
                <a class="table-name">
                    products
                </a>
            </div>
            <div class="table-right">
                <a href="">
                    <img src="/static/image/plus-svgrepo-com.svg" alt="" height="30px">
                    Add
                </a>
            </div>
        </div>

        <div class="table vertical">
            <div class="table-left">
                <a class="table-name">
                    items
                </a>
            </div>
            <div class="table-right">
                <a href="">
                    <img src="/static/image/plus-svgrepo-com.svg" alt="" height="30px">
                    Add
                </a>
            </div>
        </div>


        <div class="table vertical">
            <div class="table-left">
                <a class="table-name">
                    Categories
                </a>
            </div>
            <div class="table-right">
                <a href="">
                    <img src="/static/image/plus-svgrepo-com.svg" alt="" height="30px">
                    Add
                </a>
            </div>
        </div>
    </div>
{{end}}



