{{define "base"}}
<!DOCTYPE html>
<html>
    <head>
        <title>Sign-in</title>
        <link rel="stylesheet" href="/static/css/admin/sign-in.css">

    </head>
    <body>
        <div class="main-container">
            <div class="form-container">
                <div class="title-container">Adminstration</div>
                <form action="/Admin/login" method="post">
                    <div class="">
                        <div class="input-title">
                            Username or Email
                        </div>
                        <div class="input-container">
                            <img src="/static/image/profile.png" alt="">
                            <input type="text" placeholder="Type your username" name="username">
                        </div>
                    </div>


                    <div class="">
                        <div class="input-title">
                            Password
                        </div>
                        <div class="input-container">
                            <img src="/static/image/password.png" alt="">
                            <input type="password" name="password" id="" placeholder="Type your password">
                        </div>
                    </div>
                    <div class="errors">
                        {{ range . }}
                        <div class="error">
                            {{.}}
                        </div>
                        {{ end}}
                    </div>
                    <div class="button-container">
                        <button type="submit">LOGIN</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
{{end}}