<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
</head>
<body>
<form
        enctype="multipart/form-data"
        action="http://localhost:9090/test/images/upload"
        method="post"
>
    <input type="number" name="category_id">
    <select name="color" id="color">
        <option value="red">Red</option>
        <option value="white">White</option>
        <option value="black">Black</option>
        <option value="yellow">Yellow</option>
    </select>
    <select name="size" id="size">
        <option value="s">S</option>
        <option value="l">L</option>
        <option value="m">M</option>
        <option value="xl">XL</option>
        <option value="2xl">2XL</option>
        <option value="3xl">3XL</option>
    </select>
    <input type="number" name="quantity">
    <input type="file" name="image" />
    <input type="submit" value="upload" />

    {{ range . }}
    <div>
        {{ print . }}
        <img width="50px" src="/images/{{ . }}">
    </div>
    {{ end }}
</form>
</body>
</html>