<!DOCTYPE html>
<html>
    <head>
        <title>Sign-in</title>
        <link rel="stylesheet" href="/static/css/sign-in.css">
    </head>
    <body>
        <div class="main-container">
            <div class="form-container">
                <div class="title-container">Login</div>
                <form action="/login" method="post">
                    <div class="">
                        <div class="input-title">
                            Username or Email
                        </div>
                        <div class="input-container">
                            <img src="/static/images/profile.png" alt="">
                            <input type="text" placeholder="Type your username or email" name="username-or-email">
                        </div>
                    </div>
                    <div class="">
                        <div class="input-title">
                            Password
                        </div>
                        <div class="input-container">
                            <img src="/static/images/password.png" alt="">
                            <input type="password" name="password" id="" placeholder="Type your password">
                        </div>
                    </div>
                    <div class="forget-password-container">
                        <a href="">Forgot Password?</a>
                    </div>
                    <div class="button-container">
                        <button type="submit">LOGIN</button>
                    </div>
                </form>
            </div>
            <div class="sign-up-container">
                <a href="/sign-up-page">Sign up</a>
            </div>
        </div>
    </body>
</html>