{{define "base"}}
<!DOCTYPE html>
<html>
    <head>
        <title>Sign-in</title>
        <link rel="stylesheet" href="/static/css/sign-in.css">
        <link rel="stylesheet" href="/static/css/sign-up.css">

    </head>
    <body>
        <div class="main-container">
            <div class="form-container">
                <div class="title-container">Login</div>
                <form action="/login" method="post">
                    <div class="">
                        <div class="input-title">
                            Username or Email
                        </div>
                        <div class="input-container">
                            <img src="/static/image/profile.png" alt="">
                            <input type="text" placeholder="Type your username" name="username">
                        </div>
                    </div>


                    <div class="">
                        <div class="input-title">
                            Password
                        </div>
                        <div class="input-container">
                            <img src="/static/image/password.png" alt="">
                            <input type="password" name="password" id="" placeholder="Type your password">
                        </div>
                    </div>
                    <div class="errors">
                        {{ range . }}
                        <div class="error">
                            {{.}}
                        </div>
                        {{ end}}
                    </div>
                    <div class="forget-password-container">
                        <a href="">Forgot Password?</a>
                    </div>
                    <div class="button-container">
                        <button type="submit">LOGIN</button>
                    </div>
                </form>
            </div>
            <div class="sign-up-container">
                <a href="/sign-up">Sign up</a>
            </div>
        </div>
    </body>
</html>
{{end}}